<div class="banner_area global_banner">
<div class="banner banner_<%= setting['type'] %>" id="banner_content">
  <%= textilizable setting['banner_description'] %>
</div>
  <div class="banner_edit">
    <%= link_to l(:button_edit),
  { controller: 'global_banner', action: 'show' },
  { class: 'icon banner-icon-edit', title: l(:button_edit)} if User.current.admin? %>
<%= link_to  l(:button_off),
  { controller: 'banner', action: 'off', moderate: 'yes', remote: true },
  { class: 'icon banner-icon-off', title: l(:banner_off)} if User.current.logged? %>
  </div>

  <% if setting['related_link'].present? %>
  <div class="banner_more_info">
    <%= link_to l(:more_info), setting['related_link'],
           { class: 'icon external', title: l(:label_more_info)} %>
  </div>
  <% end %>
</div>

<% if setting['display_part'] == 'header' %>
<script type="text/javascript">
  $(document).ready(function () {
    displayTopBanner();
  });

  $(window).resize(function () {
    console.log("resize");
    displayTopBanner();
  });
</script>
<% end %>

<% if setting['display_part'] == 'both' %>
<script type="text/javascript">
  $(document).ready(function () {
    displayTopAndBottomBanner();
  });

  $(window).resize(function () {
    console.log("resize");
    displayTopBanner();
  });
</script>
<% end %>